src/main/mule/service-now.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/servicenow http://www.mulesoft.org/schema/mule/servicenow/current/mule-servicenow.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<servicenow:config name="ServiceNow_Config" doc:name="ServiceNow Config" doc:id="938c30a0-14c5-4889-a0b8-20e03b98177a" >
		<servicenow:basic-connection username="admin" password="xxEC7KUtnvK3" serviceAddress="https://dev101850.service-now.com" >
			<servicenow:transport >
				<servicenow:basic-auth-http-message-dispatcher-provider username="admin" password="xxEC7KUtnvK3" />
			</servicenow:transport>
		</servicenow:basic-connection>
	</servicenow:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c8b86dc1-23db-4068-bdd3-cf291997e4d9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="service-nowFlow" doc:id="c61c6156-2eb6-45a4-a180-a08939c54ffd" >
		<http:listener doc:name="Listener" doc:id="c930fe06-79f1-4738-89f7-176cda76ffe9" config-ref="HTTP_Listener_config" path="/getIncident"/>
		<ee:transform doc:name="Transform Message" doc:id="99209a14-300a-4fb8-a445-3f830c541a50" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.service-now.com/incident
---
{
    ns0#getRecords: {
        ns0#number: "INC0008111"
    }
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<servicenow:invoke doc:name="Invoke" doc:id="2f82f786-90ff-4f10-b503-9df85a312260" config-ref="ServiceNow_Config" service="incident" operation="getRecords"/>
		<ee:transform doc:name="Transform Message" doc:id="44e76f11-d764-4361-bd8a-13bc0eac91b9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="create-incident" doc:id="9bddccdf-dd45-42fb-b087-3bc63c1f9853" >
		<http:listener doc:name="post/create" doc:id="8a490b0e-c358-4882-b97a-9d00f0afbdbd" config-ref="HTTP_Listener_config" path="/create">
		</http:listener>
		<set-variable value="#[attributes.queryParams.queue]" doc:name="Get query param" doc:id="3e69fba3-13bb-4b7c-bd81-ba2eb43f1657" variableName="queryVar"/>
		<set-variable value="#[attributes.queryParams.num]" doc:name="Number of message" doc:id="f7036f1a-0e97-461a-ad4b-6b6588d6ea56" variableName="numMessages" />
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;&#10;---&#10;&#10;{ "queueList" : [&#10;    {&#10;      "queue" : "prod.process.generateinvoice.DLQ",&#10;      "urgency": 1,&#10;      "impact" : 1,&#10;      "priority" : 1&#10;      &#10;    },&#10;     {&#10;      "queue" : "prod.orderlifecycle.DCShipAuth.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.orderlifecycle.DCShipAuthKo.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.orderlifecycle.GenerateInvoice.DLQ "&#10;    },&#10;     {&#10;      "queue" : "prod.orderlifecycle.OrderCreation.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.orderlifecycle.readfileblr.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.orderlifecycle.sendemailconfirmation.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.wms.shipauthorization.retry.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.m51deret.process.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.m51stellae.process.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.orderlifecycle.blr-route.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.adobe.sendemails.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.fluent.events.m51deret.retry.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.fluent.events.m51stellae.retry.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.orderlifecycle.CCFulfilment.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.orderlifecycle.DCFulfilmentwms.DLQ"&#10;    },&#10;         {&#10;      "queue" : "prod.orderlifecycle.SalesFulfilment.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.orderlifecycle.cegidexchangeconfirmation.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.orderlifecycle.dcfulfilmentupdatewms.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.orderlifecycle.infolog.delivery.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.orderlifecycle.LTValidateFulfilment.DLQ"&#10;    },&#10;    {&#10;      "queue" : "prod.orderlifecycle.LTReserveFulfilment.DLQ"&#10;    },&#10;    {&#10;      "queue" : "prod.orderlifecycle.SendRefundSuccess.DLQ"&#10;    },&#10;    {&#10;      "queue" : "prod.orderlifecycle.LTValidateFulfilment.DLQ"&#10;    },&#10;    {&#10;      "queue" : "prod.orderlifecycle.paymentAuthorization.DLQ"&#10;    },&#10;    {&#10;      "queue" : "prod.orderlifecycle.paymentCapture.DLQ"&#10;    },&#10;     {&#10;      "queue" : "prod.orderlifecycle.paymentRefund.DLQ"&#10;    },  &#10;	{&#10;      "queue" : "prod.orderlifecycle.paymentrefunded.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.stellae.delivery.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.wms.payment.store.queue.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.fluent.events.m51deretReturnReship.retry.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.fluent.acknowledgement.retry.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.fluent.cegid.blr.retry.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.appeasementrefunded.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.cscrtsalert.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.cscshortagealert.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.cscwrongproductalert.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.cscwrongquantityalert.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.dccancelfulfilments.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.lostparcelrefundemail.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.automatic.retry.DLQ"&#10;    },&#10;    {&#10;      "queue" : "prod.ciam.users.creation.retry.DLQ"&#10;    }, &#10;   &#10;   {&#10;      "queue" : "prod.ciam.users.notification.retry.DLQ"&#10;    }, &#10;   &#10;   {&#10;      "queue" : "prod.ciam.users.subscription.retry.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.fluent.events.invoices.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.fluent.events.m51stellaeReturnReship.retry.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.fluent.events.qualityko.retry.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.fluent.returns.creditmemos.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.infolog.advance.shipping.notice.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.infolog.return.acceptance.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.invoices.fluent.event.retry.dlq"&#10;    }, &#10;   {&#10;      "queue" : "prod.orderlifecycle.alf-route.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.orderlifecycle.CallM06.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.orderlifecycle.cancelemailpaybylink.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.orderlifecycle.ccordercancellation.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.orderlifecycle.ccordervalidation.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.orderlifecycle.cdc-route.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.orderlifecycle.cscdiscrepencyalert.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.orderlifecycle.csclocaldiscrepencyalert.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.orderlifecycle.cscpaymentrejectalert.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.orderlifecycle.cscrefundrejectalert.DLQ"&#10;    }, &#10;   {&#10;      "queue" : "prod.orderlifecycle.cscreturnoverdue.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.cscshortagealertlevel2.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.cscshortagealertlevel3.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.dtr-route.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.eresacreateorder.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.exchangequalitychecked.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.fullcancellationwh.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.fullordercancellation.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.lah-route.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.LTRejectFulfilment.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.multishipmentwh.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.notifycsbadquality.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.notifycswrongreturndate.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.OrderUpdate.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.partialcancelwh.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.paymentCancellation.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.paymentReversals.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.readfilealf-return.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.readfilealf.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.returnReceipt.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.returnreshipok.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.returnreshipped.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.SendASN.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.sendasnparcel.DLQ"&#10;    }, &#10;     {&#10;      "queue" : "prod.orderlifecycle.sendcrossbordercustomerreturncreationemail.DLQ"&#10;    }, &#10;    &#10;     {&#10;      "queue" : "prod.orderlifecycle.sendcustomerreshipconfirmation.DLQ"&#10;    }, &#10;    &#10;     {&#10;      "queue" : "prod.orderlifecycle.sendcustomerreturncreationemail.DLQ"&#10;    }, &#10;    &#10;     {&#10;      "queue" : "prod.orderlifecycle.sendcustomerreturnreceive.DLQ"&#10;    }, &#10;    &#10;     {&#10;      "queue" : "prod.orderlifecycle.sendemailpaybylink.DLQ"&#10;    }, &#10;    &#10;     {&#10;      "queue" : "prod.orderlifecycle.sendm06.DLQ"&#10;    }, &#10;    &#10;     {&#10;      "queue" : "prod.orderlifecycle.SendM50.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.sendmultishipmentorderconfirmation.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.sendmultishipmentordermodification.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.sendpblemailconfirmation.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.SendReturnReShipped.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.stellae.ca.delivery.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.stellae.us.delivery.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.orderlifecycle.waitforstockwh.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.rcu.journal.guestcustomer.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.stellae.advance.shipping.notice.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.stellae.ca.advance.shipping.notice.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.stellae.ca.return.acceptance.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.stellae.return.acceptance.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.stellae.us.advance.shipping.notice.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.stellae.us.return.acceptance.DLQ"&#10;    }, &#10;    {&#10;      "queue" : "prod.usermanagement.users.creations.DLQ"&#10;    },&#10;    {&#10;      "queue" : "prod.usermanagement.users.updates.DLQ"&#10;    }&#10;    &#10;   &#10;&#10;  ]&#10;}]' doc:name="List of queues" doc:id="c53c41fb-2012-4127-87aa-1c25fda60976" />
		<foreach doc:name="For Each" doc:id="747ca5c2-d44c-40be-baa0-7c95221fb223" collection="#[payload.queueList]">
			<choice doc:name="Choice" doc:id="b616a6b4-91da-4369-a910-49d33dcaa64a">
				<when expression="#[payload.queue == vars.queryVar]" >
					<ee:transform doc:name="JSON to XML" doc:id="082556ae-393d-46ae-af22-ad1dd9eff85c" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.service-now.com/incident
---
{
	ns0#insert: {
		comments: "This is very urgent. Please resolve it quickly",
		short_description: payload.queue,
		description: payload.queue,
		state: "New",
		work_notes: vars.numMessages,
		impact: payload.impact,
		urgenvy: payload.urgency,
		priority: payload.priority	
	}
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<servicenow:invoke service="incident" operation="insert" doc:name="Insert new Incident" doc:id="bf250566-144a-4b4c-ba09-9cfdc6c23836" config-ref="ServiceNow_Config" />
				</when>
		</choice>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="048e7b68-097d-4459-85c5-1fe952336ce3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

{
	result: "Incident created"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
